@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Geologica:wght@100..900&display=swap');

/* MAIN */
/* Welcome Header */
.welcome-header {
    margin: 0 3rem 3rem 3rem;
    color: #F57D31;
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: bold;
    text-align: center;
    line-height: 4rem;

    font-family: "Geologica", sans-serif;

}
/* End Welcome Header */

/* Statistics Box */
.box {
    background-color: #F57D31;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: clamp(10rem, 20vw, 15rem);
    border: #B8B8B8 solid 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: clamp(1rem, 2vw, 1.5rem);
}

.box-icon {
    font-size: clamp(3.5rem, 5vw, 7rem);
    color: #FFFFFF;
    margin-right: 5%;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    font-family: "Geologica", sans-serif;
}

.box-title {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    color: #FFFFFF;
}

.box-num {
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: bold;
    color: #FFFFFF;
}

.box-desc {
    font-size: clamp(1rem, 2vw, 1.8rem);
    color: #FFEB3B;
    font-weight: bold;
}

/* End Statistics Box */

/* Notification */
.notification {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0.5rem 1.5rem;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center; 
    border-radius: 5px;
    border: #B8B8B8 solid 1px;
    border-left: #4B9941 solid 8px;
    font-family: "Geologica", sans-serif;
}

.noti-content {
    color: #000;
    max-width: 75%; /* Giới hạn chiều rộng phần nội dung */
}

.main-content {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    font-weight: bold;
}

.sub-content {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    font-weight: normal;
}

.date {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: bold;
}

/* End Notification */

/* Common Tool Boxs */
.common-tools{
    background-color: #FFFFFF;
    border-radius: 5px;   
    border: #B8B8B8 solid 1px;
    padding: 2rem 3rem 3rem 3rem;
    font-family: "Geologica", sans-serif;

}

.tools-header{
    background-color: #FFFFFF;
    color: #3072B5;
    border-bottom: #3072B5 solid 2px; 
    font-weight: bold; 
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

/* Ô chứa tên tính năng thường dùng*/
.feature-header {
    background-color: #F57D31;
    text-align: center;
    border: #B8B8B8 solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 110px;
    min-width: 200px; 

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-title{
    background-color: #F57D31;
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    font-family: "Geologica", sans-serif;

}

.feature-title i{
    background-color: #F57D31;
    font-size: 2.3rem;
    margin: 0;
    margin-left: 0.8rem;
}

/* Ô chứa mô tả của các tính năng thường dùng*/
.feature-desc {
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 0px;
    border: #B8B8B8 solid 1px;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 110px;
    min-width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.desc{
    color: black;
    font-size: 18px;
    font-weight: 500px;
    margin: 0;
}

/* End Common Tool Boxs */
