:root{
    --border-clr: #B8B8B8;
    --bg-clr: #F57D31;
    --menu-bg-clr: #FFE9D6;
    --img-border-clr: #4c4a4a;
    --button-hover-bg: #b94401;
    --desc-clr: #D41818;
}

.section-2{
    font-family: Roboto;
}

/* Page Title (Section-1) */
.section-1{
    margin-bottom: 50px;
}
.section-1 .page-title{
    text-align: center;
    text-decoration: underline;
    color: var(--bg-clr);
}
/* End Section-1 */

/* Table */
th{
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid var(--border-clr);
}
tbody tr:hover{
    background-color: #f1f1f1;
}
/* Table title */
.table-head, .inner-title{
    background: var(--bg-clr);
    color: white;
}
.table-head th{
    font-weight: bold;
}
.inner-title{
    padding: 5px;
    width: 440px;
    text-align: center;    
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
/* End Table */


/* Section 2 - List account pending for approval */
.section-2 .table-account-pending{
    width: 100%;
    text-align: center;
    /* font-family: figtree; */
    font-size: 14px;
    color:black;
    border-radius: 5px;
    border: 1px solid var(--border-clr);
    background: white;
}
/* Accept and delete button */
.table-account-pending th:nth-child(6){
    width: 70px;
}
.table-account-pending .accept-button{
    width: 67px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.table-account-pending .accept-button .button-title{
    align-content: center;
    font-size: 13px;
}
.table-account-pending .accept-button, .table-account-pending .delete-button{
    padding: 0;
    height: fit-content;
    border-radius: 5px;
    border: 2px solid var(--bg-clr);
    color:var(--bg-clr);  
    background: rgba(255, 255, 255, 0.5); 
}
.table-account-pending .accept-button i, .table-account-pending .delete-button i{
    font-size: 14px;
}
.table-account-pending .delete-button{
    padding: 0 2px;
}
.table-account-pending button:hover{
    color: var(--button-hover-bg);
    border: 2px solid var(--button-hover-bg);
}

/* Note */
.section-2 .time-delete-note{
    color: red;
    padding-left: 10px;
}
.section-2 .time-delete-note p{
    margin-bottom: 0;
}
/* End Section-2 */

/* Section 3 - List User Account */
.section-3 .table-user-account{
    width: 100%;
    text-align: center;
    /* font-family: figtree; */
    font-size: 14px;
    color:black;
    border-radius: 5px;
    border: 1px solid var(--border-clr);
    background: white;
}
/* Delete button */
.table-user-account .delete-button{
    padding: 0;
    height: fit-content;
    color:var(--bg-clr);   
}
.table-user-account .delete-button i{
    font-size: 18px;
}
.table-user-account button:hover{
    color: var(--button-hover-bg);
}
/* End Section-3 */

/* Section 4 - List Admin */
.section-4 .table-admin-account{
    width: 100%;
    text-align: center;
    /* font-family: figtree; */
    font-size: 14px;
    color:black;
    border-radius: 5px;
    border: 1px solid var(--border-clr);
    background: white;
}
/* End Section-4 */

/* Pagination */
.form-pagination{
    margin-bottom: 50px;
}
::selection {
    color: #fff;
    background: #f23b26;
  }
  .pag {
      display: flex;
      flex-direction: column;
      margin: 0;
      /* align-items: center;
      justify-content: center; */
      /* box-shadow: 0px 0.5vh 5px 0px rgba(0, 0, 0, 0.25); */
  }
  .pagination {
      font-family: "Poppins", sans-serif;    
      /* min-width: 983.2px; */
      margin: 5px 0 0;
  }
  .pagination,
  .pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .pagination li {
      background: #F57D31;
    list-style: none;
  }
  .pagination li a {
    text-decoration: none;
    color: #fdfdfd;
    height: 30px;
    width: 30px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-right-width: 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  }
  .pagination li:last-child a {
    border-right-width: 1px;
  }
  .pagination li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-top-color: rgba(0, 0, 0, 0.35);
    border-bottom-color: rgba(0, 0, 0, 0.5);
  }
  .pagination li a:focus,
  .pagination li a:active {
    padding-top: 4px;
    border-left-width: 1px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
  }
  .pagination li.icon a {
    min-width: 100px;
  }
  .pagination li:first-child span {
    padding-right: 8px;
  }
  .pagination li:last-child span {
    padding-left: 8px;
  }
  /* End Pagination */