:root{
    --border-clr: #B8B8B8;
    --bg-clr: #F57D31;
    --menu-bg-clr: #FFE9D6;
    --readonly-txt-clr: #6E6E7A;
}

.main{
    font-family: Roboto;
    font-size: 13px;    
    color: black;
}

h1, h3, p, i{
    margin: 0;
}

.search-form h1{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

h3{    
    font-size: 16px;
    color: white;
    font-weight: bold;
}

button{
    border: none;
}

.main-content{
    position: relative;
    margin-left: 255px;
    align-items: center;
}

/* Search Form */
.search-form{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid var(--border-clr);
    padding-bottom: 10px;
    background: white;
}
.search-form .container{
    min-width: 100%;
    margin: 0;
}

.search-form .inner-main .row {
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
}
.search-form .inner-desc~div[class|="col-lg"]{
    width: fit-content;
    text-wrap: nowrap;
    margin-bottom: 5px;
}
.search-form .inner-main .row div[class|="col-lg"]{
    /* width: 300px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-form .inner-main #input-type{
    width: fit-content;
}
.search-form .inner-main .row div:nth-child(4)>label{
    width: 72px;
    text-align: right;
}
/* form{
    overflow: auto;
} */

.search-form .inner-head{
    height: 44px;
    text-align: center;
    align-items: center;
    background: var(--bg-clr);
}

.inner-desc{
    height: 35px;
    padding-top: 8px;
}
.desc{
    color: #F57D31;
    font-size: 13px;
    font-weight: bold;
}

#input-type>label{
    width: 72px;
    text-align: right;
}
label{
    width: 72px;
    font-size: 13px;
    font-weight: 400;
    margin-right: 13px;
}
input{
    width: 250px;
    height: 35px;
}
select{
    width: 250px;
    height: 35px;
}
input, select{
    border-radius: 5px;
    border: 1px solid var(--border-clr);
}

.search-form .inner-main .row div:nth-child(4){
    margin-bottom: 10px;
}
.search-form .inner-main .row div:last-child{
    text-align: right;
}
.search-button{
    border: none;
    background: var(--bg-clr);
    width: 130px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--border-clr);
    padding-left: 18px;
    padding-right: 18px;
}
.search-button .content-button{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 18px;
}
.search-button:hover{
    background: #d65a12;
    border: 1px solid #ded5d5;
}
/* End Search Form */

/* Agent List */
.agent-list{
    font-size: 14px;
    text-align: center;
    align-items: center;
    min-width: 100%;
    width: fit-content;
    margin-top: 60px;
    margin-bottom: 30px;    
    max-height: 510px;
    overflow: auto;
}
.agent-list .inner-head{
    width: 100%;
}
table{
    width: 100%;
    border-radius: 5px;
}

table tr{
    border: 1px solid #B8B8B8
}

table th{
    /* width: fit-content; */
    padding: 5px 10px;
    text-wrap: nowrap;
    font-weight: 600;
    text-transform: capitalize;
}

table tbody th{
    font-weight: 400;
}

table thead tr, .inner-title{
    background: #F57D31;
    color: white;
    text-transform:initial;
}

.fix-button, .delete-button{
    width: fit-content;
    background: none;
    color: #F57D31;
}
.agent-list button:hover{
    color: #b94401;
}

.agent-list .inner-title{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    width: fit-content;
    border-bottom: 1px solid #B8B8B8; 
}
/* End Agent List */

/* Pop-up form edit agency info */
.pop-up-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: #555555 solid 1px;
 } 

.pop-up .custom-btn-close {
    background-size: 35px 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.pop-up .custom-btn-close:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}


 .pop-up-header-title{
    color: #F57D31;
    font-size: 2rem;
    font-weight: bold;
 }
 
 .confirm-button{
    margin-top: 30px;
    margin-bottom: 0;
    text-align: end;
 }
 
 
 .confirm-button-title{
    padding: 3px 30px;
    font-size: 1.5rem;
    font-weight: 600;
    background: #F57D31;
    color: white;
    border-radius: 5px;
    border: #CCC solid 1px;
 }
 
 .form-label-pop-up{
    font-size: 1.2rem;
    text-wrap: nowrap;
 }
 
 
 .form-control-pop-up{
    border: #F57D31 solid 1px;
 }
 
 
 .overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
 }
 
 
 .pop-up{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    background-color: #FFF;
    z-index: 1001;
    width: 80%;
    max-width: 500px;
 }
 
 
 .no-scroll{
    overflow: hidden;
 }
/* End Pop-up */