@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

html
{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-image: url("../../images/BG-SignUp.png");
    background-size: cover; /* Đảm bảo hình nền phủ toàn bộ trang */
    background-position: center; /* Căn giữa hình nền */
    background-repeat: no-repeat; /* Ngăn chặn việc lặp lại hình nền */

    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

/* FOOTER */
footer{
  background-color: #FFA556;
  color: white;
}

.col-footer-content{
  width: fit-content;
}

.group{
  font-size: clamp(10px, 1vw, 18px);
  font-weight: bold;
  text-align: center; /* Khi chữ bị xuống dòng sẽ được canh giữa, chữ bình thường không bị xuống dòng thì đã fit-content nên không cần canh giữa */
  margin-left: 5px; /* Khoảng cách giữa logo và group 06 */
}

.website, .phone, .email{
  font-size: clamp(10px, 1vw, 18px);
  font-weight: bold;
  text-align: center;
}

.logo-footer{
  background-color: #FFF;
  border-radius: 360px;
  width: clamp(10px, 2vw, 30px);
  height: auto;
}

/* END FOOTER */

/* LEFT SECTION */
.left-section-logo{
  width: clamp(200px, 50vw, 300px);
  height: auto;
}

.left-section-header{
  margin-top: 20px;
  font-size: clamp(20px, 5vw, 35px);
  font-weight: bold;
  color: #F0641F;
  font-family: "Roboto";

}

.left-section-sub-header{
  margin-top: 10px;
  font-size: clamp(10px, 5vw, 20px);
  color: #F0641F;
  font-family: "Gadala";
  font-style: italic;
}

/* END LEFT SECTION */

/* RIGHT SECTION */
.right-section-box{
    border: #FEA14C solid 3px;
    background-color: #FCEFE6;
    border-radius: 20px;
    max-width: 400px; /* Giới hạn độ rộng của box sign up */
    width: 90%;
  }

  .sign-up-selection{
    margin: 0px;
  }

  .log-in-tab{
    color: #f2620858;
    border: #FEA14C solid 3px;
    border-radius: 20px;
    border-top-left-radius: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 25px 0px;
    background-color: #e7dcd5;
  }

  .sign-up-tab{
    color: #F26208;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 25px 0px;
  }

 
  .sign-up-success-wrapper{
    padding: 30px 40px 10px 40px;
  }

  .sign-up-success-header{
    font-size: 3rem;
    color: #F0641F;
    border-bottom: #F0641F solid 2px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding: 5px;
  }

  .sign-up-success-content-box{
    font-size: 1.8rem;
    color: #FEA14C;
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
  }

  .sign-up-success-content{
    margin-bottom: 20px;
    text-align: center;
}

/* END RIGHT SECTION */