<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../public/css/bootstrap/bootstrap.min.css"> 
    <link rel="stylesheet" href="../../public/css/style/setting.css">
    <link rel="stylesheet" href="../../public/css/style/main.css">
</head>
<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button"> 
                    <i class="bi bi-grid"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Menu</a>
                </div>
            </div>

            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="../../home/views/dashBoard.html" class="sidebar-link">
                        <i class="bi bi-speedometer2"></i>
                        <span>DashBoard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#manageAgency" 
                    aria-expanded="false" aria-controls="manageAgency">
                        <i class="bi bi-building"></i>
                        <span>Manage Agency</span>
                    </a>

                    <ul id="manageAgency" class ="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="../../agency/views/addAgency.html" class="sidebar-link">Add Agency</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="../../agency/views/searchAgency.html" class="sidebar-link">Search Agency</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#paperWork" 
                    aria-expanded="false" aria-controls="paperWork">
                        <i class="bi bi-file-earmark-text"></i>
                        <span>Paper Work</span>
                    </a>

                    <ul id="paperWork" class ="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="../../report/views/goodDeliveryNote.html" class="sidebar-link">Goods Delivery Note</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="../../report/views/goodReceivedNote.html" class="sidebar-link">Goods Received Note</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="../../report/views/monthlyReport.html" class="sidebar-link">Monthly Report</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#manageAccount" 
                    aria-expanded="false" aria-controls="manageAccount">
                        <i class="bi bi-person-vcard"></i>
                        <span>Manage Account</span>
                    </a>

                    <ul id="manageAccount" class ="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="../../views/personalInfo.html" class="sidebar-link">Personal Infomation</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="../../views/personelManagement.html" class="sidebar-link">Personel Management</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="./setting.html" class="sidebar-link">
                        <i class="bi bi-gear"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>

            <div class="sidebar-footer">
                <img src="../../public/images/logo.png" alt="Logo" class="logo-footer">
                <div class="detail-footer">
                    <div class="text-footer">Agency Management Software</div>
                    <div class="copy-right">Inc © 2024 - Copyright by Group 06</div>
                </div>
            </div>
        </aside>

        <div class="child-wrapper">
            <header>
                <div class="logo">
                    <img src="../../public/images/logo.png" alt="logo" class="miniLogo">
                    <div class="softwareName"><p class="swName">Agency Management Software</p></div>
                </div>
                <div class="open-active">
                    <div class="open-list">
                        <div class="mini-avatar"></div>
                        <div class="userinfo">
                            <p class="username">Admin 123</p>
                            <p class="acc-title">Administrator</p>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <ul class="sub-button">
                        <li class="sub">
                            <a href="../../views/personalInfo.html"><span class="name-span">
                                <span class="sub-title">Change Info</span> <i class="fa-solid fa-user-gear"></i>
                            </span></a>
                        </li>
                        <li class="sub">
                            <a href="../../login/views/login.html"><span class="name-span">
                                <span class="sub-title">Log Out</span> <i class="fa-solid fa-person-through-window"></i>
                            </span></a>
                        </li>
                    </ul>
                </div>
            </header>
    
            <div class="main"> 
                <div class="container section1">
                    <div class="row section1-title-row">
                        <div class="col-12 form-header">
                            AGENCY RULE SETTINGS
                        </div>    
                    </div>
                    
                    <form action="#" target="_self" method="post" class="row section1-form-row">
                        <div class="col-lg-4">
                            <div class="mb-1">
                                <label for="inputAgencyTypes" class="form-label">Agency Type</label>
                                <input type="number" class="form-control" id="inputAgencyTypes" min="1" required>
                            </div>   
                        </div>

                        <div class="col-lg-4">
                            <div class="mb-1">
                                <label for="inputMaxAgenciesPerDist" class="form-label">Maximum Agencies per District</label>
                                <input type="number" class="form-control" id="inputMaxAgenciesPerDist" min="1" required>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="mb-1">
                                <label for="currencyUnit" class="form-label">Currency Unit</label>
                                <select class="form-select" id = "currencyUnit">
                                    <option selected value="VND">VND</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                    <option value="KRW">KRW</option>
                                    <option value="JPY">JPY</option>
                                    <option value="BAHT">BAHT</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 update-button">
                            <button id="agency-rule-1" type="submit" class="update-button-title">Update<i class="bi bi-check2-circle update-icon"></i></button>
                        </div>
                    </form>
                </div>

                <div class="container section2">
                    <div class="row section2-title-row">
                        <div class="form-header">
                            AGENCY TYPE SETTINGS
                        </div>
                    </div>
                    
                    <form action="#" target="_self" method="post" class="row section2-form-row" autocomplete="off">
                        <div class="col-lg-4">
                            <div class="mb-1">
                                <label for="agencyType" class="form-label">Agency Type</label>
                                <select class="form-select" id="agencyType">
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="mb-1">
                                <label for="inputMaxGoodsPerBill" class="form-label">Maximum Goods per Bill</label>
                                <input type="number" class="form-control" id="inputMaxGoodsPerBill" min="1" required>
                            </div>   
                        </div>

                        <div class="col-lg-4">
                            <div class="mb-1">
                                <label for="inputMaximumDebt" class="form-label">Maximum Debt</label>
                                <input type="number" class="form-control" id="inputMaximumDebt" min="0" required>
                            </div>
                        </div>

                        <div class="col-12 update-button">
                            <button id="agency-type-1" type="submit" class="update-button-title">Update<i class="bi bi-check2-circle update-icon"></i></button>
                        </div>
                    </form>
                </div>

                <div class="container section3">
                    <div class="row section3-title">
                        <div class="col-12 form-header">
                            GOODS BY AGENCY TYPES
                        </div>    
                    </div>

                    <form action="#" target="_self" method="post" class="row align-items-center choose-agency-type-row" autocomplete="off">
                        <label for="type" class="col-7 col-md-6 choose-agency-type-label">Agency Type:</label>
                        <div class="col-3 col-sm-2 col-lg-1 choose-agency-type-select">
                            <select class="form-select form-select-type" id="type" aria-label="selectType">
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                            </select>

                        </div>
                    </form>
                </div>

                <div class="container section4">
                    <div class="table-responsive">
                        <table class="table table-hover text-center align-middle custom-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Goods</th>
                                    <th>Calculation Unit</th>
                                    <th>Price</th>
                                    <th>Stock Quantity</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>

                            <tbody id="products-list"></tbody>
                        </table>
                        <div class="mb-3 add-goods-button">
                            <button id="add-goods-button" class="add-goods-button-title">Add<i class="bi bi-plus-circle add-goods-button-icon"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>

    <div id="overlay" class="overlay"></div>
    
    <div id="edit-modal" class="pop-up">
        <div class="pop-up-header">
            <div class="pop-up-header-title">GOODS INFORMATION</div>
            <buton id="close-pop-up-button" class="btn-close"></buton>
        </div>

        <form id="edit-form" action="#" method="post" autocomplete="off">
            <div class="mb-3">
                <label for="goods-code" class="form-label form-label-pop-up">Code</label>
                <input type="text" id="goods-code" class="form-control form-control-pop-up" required>
            </div>

            <div class="mb-3">
                <label for="goods-name" class="form-label form-label-pop-up">Name</label>
                <input type="text" id="goods-name" class="form-control form-control-pop-up" required>
            </div>

            <div class="mb-3">
                <label for="goods-calculation-unit" class="form-label form-label-pop-up">Calculation Unit</label>
                <input type="text" id="goods-calculation-unit" class="form-control form-control-pop-up" required>
            </div>

            <div class="mb-3">
                <label for="goods-price" class="form-label form-label-pop-up">Price</label>
                <input type="number" id="goods-price" class="form-control form-control-pop-up" min="0" required>
            </div>

            <div class="mb-3">
                <label for="goods-stock-quantity" class="form-label form-label-pop-up">Stock Quantity</label>
                <input type="number" id="goods-stock-quantity" class="form-control form-control-pop-up" min="0" required>
            </div>
            <div class="mb-3 add-button">
                <button id ="add-goods-button" type="submit" class="add-button-title">Add</button>
            </div>
        </form>
    </div>

    <!--Failure-PopUp-->
    <div id="failurePopup" class="failure-pop-up" style="display: none;">
        <div class="failure-pop-up-header">
            Notice
        </div>
        <div class="failure-pop-up-header-content-box">
            <div id="popupMessage" class = "failure-pop-up-header-content">Create failed!</div>
        </div>
        <buton type = "submit" id="closeFailurePopUpButton" class="close-failure-pop-up-button">Close</buton>
    </div>

    <script>
        const hamBurger = document.querySelector(".toggle-btn");
        hamBurger.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("expand");
        });
    </script>

    <script src="../renderers/getProductsByAgencyRenderer.js"></script>
    <script src="../../public/css/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../renderers/loadAgencyTypeRenderer.js"></script>
    <script src="../renderers/settingAgencyRuleRenderer.js"></script>
    <script src="../renderers/settingAgencyTypeRenderer.js"></script>
    <script src="../renderers/removeRenderer.js"></script>
    <script src="../renderers/addRenderer.js"></script>
</body>
</html>
