<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Received Note - Agencies Management System</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style/main.css">
    <link rel="stylesheet" href="../public/css/style/goodReceivedNote.css">    
</head>
<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button"> 
                    <i class="bi bi-grid"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Menu</a>
                </div>
            </div>
    
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-speedometer2"></i>
                        <span>DashBoard</span>
                    </a>
                </li>
    
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#manageAgent" 
                    aria-expanded="false" aria-controls="manageAgent">
                        <i class="bi bi-building"></i>
                        <span>Manage Agent</span>
                    </a>
    
                    <ul id="manageAgent" class ="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Add Agent</a>
                        </li>
    
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Serch Agent</a>
                        </li>
                    </ul>
                </li>
    
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#paperWork" 
                    aria-expanded="false" aria-controls="paperWork">
                        <i class="bi bi-file-earmark-text"></i>
                        <span>Paper Work</span>
                    </a>
    
                    <ul id="paperWork" class ="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Goods Delivery Note</a>
                        </li>
    
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Goods Received Note</a>
                        </li>
    
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Monthly Report</a>
                        </li>
                    </ul>
                </li>
    
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#manageAccount" 
                    aria-expanded="false" aria-controls="manageAccount">
                        <i class="bi bi-person-vcard"></i>
                        <span>Manage Account</span>
                    </a>
    
                    <ul id="manageAccount" class ="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Personal Infomation</a>
                        </li>
    
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Personel Management</a>
                        </li>
                    </ul>
                </li>
    
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-gear"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>
    
            <div class="sidebar-footer">
                <img src="./images/logo.png" alt="Logo" class="logo-footer">
                <div class="detail-footer">
                    <div class="text-footer">Agent Management Software</div>
                    <div class="copy-right">Inc © 2024 - Copyright by Group 06</div>
                </div>
            </div>
        </aside>
        
        <div class="child-wrapper">
            <header>
                <div class="logo">
                    <img src="../public/images/logo.png" alt="logo" class="miniLogo">
                    <div class="softwareName"><p class="swName">Agent Management Software</p></div>
                </div>
                <div class="open-active">
                    <div class="open-list">
                        <div class="mini-avatar"></div>
                        <div class="userinfo">
                            <p class="username">Admin 123</p>
                            <p class="acc-title">Administrator</p>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <ul class="sub-button">
                        <li class="sub">
                            <a href="#"><span class="name-span">
                                <span class="sub-title">Change Info</span> <i class="fa-solid fa-user-gear"></i>
                            </span></a>
                        </li>
                        <li class="sub">
                            <a href="login.html"><span class="name-span">
                                <span class="sub-title">Log Out</span> <i class="fa-solid fa-person-through-window"></i>
                            </span></a>
                        </li>
                    </ul>
                </div>
            </header>
            <main class="main">
                <!--Good Received-->
                <div class="goodReceived">
                    <div class="container">
                        <div class="row title">
                            <div class="col-12">
                                <h1>GOODS RECEIVED NOTE</h1>
                            </div>
                        </div>
                        <form action="#" class="row">
                            <div class="col-xl-4 col-md-6 col-12 info">
                                <label for="agentName">Agent Name</label><br>
                                <input type="text" id="agentName" name="agent_name" required>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 info">
                                <label for="type">Address</label><br>
                                <input type="text" id="address" name="address" required>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 info">
                                <label for="phoneNumber">Phone number</label><br>
                                <input type="text" id="phoneNumber" name="phone_number" maxlength="10" required>
                            </div>
                            <div class=" col-xl-4 col-md-6 col-12 info">
                                <label for="email">Email</label><br>
                                <input type="email" id="email" name="email">
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 info">
                                <label for="receptionDate">Date</label><br>
                                <input type="date" id="date" name="date" required>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 info">
                                <label for="district">Amount paid</label><br>
                                <input type="text" id="amount" name="amount" required>
                            </div>
                            <div class="col-xl-4 col-md-12 col-12 button">
                                <button class="createButton">Create <i class="bi bi-file-earmark-plus-fill"></i></i></button>                        
                            </div>
                        </form>
                    </div>
                </div>
                    <!-- Khu vực hiển thị thông tin sau khi nhập -->
                    <div class="result" style ="display: block;">
                        <h2>GOODS RECEIVED NOTE</h2>
                        <div class="result-container">
                            <h3>GOODS RECEIVED NOTE</h3>
                            <p><b>Information:</b></p>
                            <p><strong>Supplier Name:</strong> <span>Flower Snow</span></p>
                            <p><strong>Email:</strong> <span>flowersnow@example.com</span></p>
                            <p><strong>Phone Number:</strong> <span>0123456789</span></p>
                            <p><strong>Address:</strong> <span>123 Flower Street, Snow City</span></p>
                            <p><b>Payment:</b></p>
                            <p><strong>Amount Paid:</strong> <span>5.000.000 VND</span></p>
                            <p><strong>Date:</strong> <span>26/12/2024</span></p>
                            <p><strong>Received By:</strong> <span>Admin</span></p>
                        </div>
                        <div class="button-group">
                            <button class="closeButton">Close <i class="bi bi-x"></i></button>
                            <button class="printButton">Print <i class="bi bi-printer-fill"></i></button>
                        </div>
                    </div>

            </main>
        </div>
    </div>
    
    <script>
        const hamBurger = document.querySelector(".toggle-btn");
        hamBurger.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("expand");
        });
    </script>

    <script src="../public/css/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>