<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Delivery Note - Agencies Management System</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style/main.css">
    <link rel="stylesheet" href="../public/css/style/goodDeliveryNote.css">    
</head>
<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button"> 
                    <i class="bi bi-grid"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Menu</a>
                </div>
            </div>
    
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-speedometer2"></i>
                        <span>DashBoard</span>
                    </a>
                </li>
    
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#manageAgent" 
                    aria-expanded="false" aria-controls="manageAgent">
                        <i class="bi bi-building"></i>
                        <span>Manage Agent</span>
                    </a>
    
                    <ul id="manageAgent" class ="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Add Agent</a>
                        </li>
    
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Serch Agent</a>
                        </li>
                    </ul>
                </li>
    
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#paperWork" 
                    aria-expanded="false" aria-controls="paperWork">
                        <i class="bi bi-file-earmark-text"></i>
                        <span>Paper Work</span>
                    </a>
    
                    <ul id="paperWork" class ="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Goods Delivery Note</a>
                        </li>
    
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Goods Received Note</a>
                        </li>
    
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Monthly Report</a>
                        </li>
                    </ul>
                </li>
    
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#manageAccount" 
                    aria-expanded="false" aria-controls="manageAccount">
                        <i class="bi bi-person-vcard"></i>
                        <span>Manage Account</span>
                    </a>
    
                    <ul id="manageAccount" class ="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Personal Infomation</a>
                        </li>
    
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Personel Management</a>
                        </li>
                    </ul>
                </li>
    
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-gear"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>
    
            <div class="sidebar-footer">
                <img src="./Images/logo.png" alt="Logo" class="logo-footer">
                <div class="detail-footer">
                    <div class="text-footer">Agent Management Software</div>
                    <div class="copy-right">Inc © 2024 - Copyright by Group 06</div>
                </div>
            </div>
        </aside>
        
        <div class="child-wrapper">
            <header>
                <div class="logo">
                    <img src="../public/images/logo.png" alt="logo" class="miniLogo">
                    <div class="softwareName"><p class="swName">Agent Management Software</p></div>
                </div>
                <div class="open-active">
                    <div class="open-list">
                        <div class="mini-avatar"></div>
                        <div class="userinfo">
                            <p class="username">Admin 123</p>
                            <p class="acc-title">Administrator</p>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <ul class="sub-button">
                        <li class="sub">
                            <a href="#"><span class="name-span">
                                <span class="sub-title">Change Info</span> <i class="fa-solid fa-user-gear"></i>
                            </span></a>
                        </li>
                        <li class="sub">
                            <a href="login.html"><span class="name-span">
                                <span class="sub-title">Log Out</span> <i class="fa-solid fa-person-through-window"></i>
                            </span></a>
                        </li>
                    </ul>
                </div>
            </header>

            <main class="main">
                <div class="col-12">
                    <h1>GOODS DELIVERY NOTE</h1>
                </div>
                <div class="goodDelivery">
                    <div class="container">
                        <div class="row title">
                            <div class="col-12">
                                <h2>Agent Information</h2>
                            </div>
                        </div>
                        <form action="#" class="row">
                            <div class="col-xl-4 col-md-6 col-12 info">
                                <label for="agentName">Agent Name</label><br>
                                <input type="text" id="agentName" name="agent_name" required>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 info">
                                <label for="type">Type</label><br>
                                <select name="type" id="type" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 info">
                                <label for="receptionDate">Date</label><br>
                                <input type="date" id="date" name="date" required>
                            </div>
                            
                           
                        </form>
                    </div>
                </div>
                    <!-- Choose goods -->
                    <div class="goodDelivery">
                        <div class="container">
                            <div class="row title">
                                <div class="col-12">
                                    <h2>Choose Goods</h2>
                                </div>
                            </div>
                            <form action="#" class="row">
                                
                                <div class="col-12 info search-input">
                                    <label for="search"></label><br>
                                    <div class="input-wrapper">
                                        <input type="text" id="search" name="search" required placeholder="milk">
                                        <button type="submit" class="search-btn">Search <i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12 info">
                                    <label for="serial">Serial</label><br>
                                    <input type="number" id="serial" name="serial" required>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12 info">
                                    <label for="nameOfGood">Name of Good</label><br>
                                    <input type="text" id="good" name="good" required>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12 info">
                                    <label for="quantity">Quantity</label><br>
                                    <input type="text" id="quantity" name="quantity" required>
                                </div>
                                
                                
                            </form>
                            <div class="col-xl-4 col-md-12 col-12 Button">
                                <button class="addButton">Add <i class="fa-solid fa-plus"></i></button>                        
                            </div>
                        </div>
                    </div>
                    <!-- Cart -->
                    <div class="cart" id="cart" >
                        <div class="inner-head">
                            <div class="inner-title">
                                Cart
                            </div>
                        </div>
                        <table class="cart-table">
                            <thead class="table-head">
                                <tr>
                                    <th>Serial</th>
                                    <th>Name of Good</th>
                                    <th>Calculation Unit</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="resultsCart">
                                <!-- Dynamic rows for Agent Debt Report -->
                            </tbody>
                        </table>
                        <div class="col-xl-4 col-md-12 col-12 button">
                            <button class="createButton">Create <i class="bi bi-file-earmark-plus-fill"></i></i></button>                        
                        </div>
                       
                    </div>
                   
            </main>
        </div>
    </div>
    
    <div class="modal-overlay">
        <div class="modal-content">
            <button class="modal-close">&times;</button>
            <div class="col-12 info search-input">
                <label for="search"></label><br>
                <div class="input-wrapper">
                    <input type="text" id="search" name="search" required>
                    <button type="submit" class="search-btn">Search <i class="bi bi-search"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="results-table"></div>
            </div>
            <button class="modal-done">Done</button>
        </div>
    </div>

   
    
    
    <script>
        const hamBurger = document.querySelector(".toggle-btn");
        hamBurger.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("expand");
        });
    </script>

    <script src="../public/css/bootstrap/bootstrap.bundle.min.js"></script>
    <script src ="../renderers/goodDeliveryRenders.js"></script>
</body>
</html>