<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agent Management System</title>
  
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/style/logIn.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
 
</head>
<body>
  <div class="logo-section">
    <img src="./Images/logo.png" alt="Logo" class="logo">
    <h1><p>Agent Management </p>
      <p>System</p></h1>
    <h2><p>Makes business management easier!</p></h2>
  </div>
  
  <div class="container">
    <div class="login-signup-tabs">
      <button class="tab active">Login</button>
      <button class="tab">Sign-Up</button>
    </div>

   
    <div class="login-section">
      <h3>Welcome!</h3>
      <h4>Please sign-in to countinue</h4>
      
      <form action="#" method="POST">
        
        <div class="input-group">
          <div class="icon-container">
            <i class="fa-regular fa-user"></i>
          </div>
         
          <input type="text" id="username" name="username" required placeholder="Username/Email">
        </div>

        <div class="input-group">
          <div class="icon-container">
            <i class="fa-solid fa-key"></i>
          </div>
  
          <input type="password" id="password" name="password" required placeholder="Password">
        </div>
  
        <button type="submit" class="login-btn">Log In</button>
      </form>


    </div>
  </div>
  <footer>
    <div class="footer-content">
      <div class="left">
        <p>Group 06</p>
      </div>
      <div class="right">
        <p>
        <span><i class="fa-solid fa-globe"></i> www.group06.com</span>
        <span><i class="fa-solid fa-phone-volume"></i> 1900 XXXX</span>
        <span><i class="fas fa-comment"></i> xx@gmail.com</span>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
