<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tét</title>

    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />   
    <link rel="stylesheet" href="../public/test.css"> 
</head>
<body>
    <button class="open-modal">Hello!</button>

    <div class="modal-content hidden-modal">
        <div class="container">
            <div class="row modal-header">
                <div class="col-11"></div>
                <div class="col-1">
                    <button class="close-modal">&times;</button>
                </div>
            </div>
    
            <div class="row modal-body">
                <form action="#" method="post">
                    <div class="col-4">
                        <label for="pass">Enter your password:</label><br>
                        <input type="password" id="pass" name="pass" required>
                    </div>
                    <div class="col-1 button">
                        <button class="addButton">CONFIRM</i></button>   
                    </div>
                </form>
            </div>
        </div>
    </div> 

    <div class="blur-bg hidden-blur"></div>
    <script src="../public/personalInfo.js"></script>

    
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>